<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.home.practice.dao.MemberDAO">
  <select id="getEmail" resultType="String">
    select email from member where id = #{id}
  </select>
  <select id="getMember" resultType="kr.home.practice.vo.MemberVO">
  	select * from member where id = #{id};
  </select>
  <insert id="signup">
  	insert into member(id, pw, gender, email, name)
  		values(#{user.id}, #{user.pw}, #{user.gender}, #{user.email}, #{user.name})
  </insert>
  <update id="updateMember">
  	update member set
  		pw=#{dbUser.pw}, gender=#{dbUser.gender}, email=#{dbUser.email}, authority = #{dbUser.authority}
  		where id=#{dbUser.id};
  		 
  </update>
</mapper>